body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}
*:focus {outline: none;}
#sn_buttons {
    margin: 0  0 0 0;
    padding: 0 0 0 0;
    float: right;
}
.fb_button {
     margin: 0  0 0 0;
    padding: 0 0 0 0;
    min-width: 70px;
    background-color: #aaa;
    background: -moz-linear-gradient(top, #454545, #737373);
    background: -webkit-gradient(linear, center top, center bottom from(#454545,), to(#737373));
    border: 1px solid #333;
    border-radius: 2px;
}
.google_button {
    margin: 0  0 0 0;
    padding: 0 0 0 0;
    min-width: 60px;
    background-color: #aaa;
    background: -moz-linear-gradient(top, #454545, #737373);
    background: -webkit-gradient(linear, center top, center bottom from(#454545,), to(#737373));
    border: 1px solid #333;
    border-radius: 2px;
    float:left;
}
.contact_form ul {
width:750px;
list-style-type:none;
list-style-position:outside;
margin:0px;
padding:0px;
}
.contact_form li{
padding:12px;
border-bottom:1px solid #eee;
position:relative;
}
.contact_form {
    margin-left:25%;
}
.contact_form li:first-child, .contact_form li:last-child {

}
.contact_form h2 {
margin:0;
display: inline;
}
.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.contact_form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
.contact_form input, .contact_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
/* Button Style */
button.submit {
    background-color: #454545;  
    background: -moz-linear-gradient(top, #454545, #737373);
    background: -webkit-gradient(linear, center top, center bottom from(#454545,), to(#737373));
    border: 1px solid #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;   
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    padding: 6px 20px;
    text-shadow: 0 -1px 0 #396715;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #dede5d;
    text-shadow: 3px 1px 3px #111;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;

}
.contact_form input:focus, .contact_form textarea:focus { /* add this to the already existing style */
    padding-right:70px;
}
.contact_form input, .contact_form textarea { /* add this to the already existing style */
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}
.required_notification {
color:#d45252;
margin:5px 0 0 0;
display:inline;
float:right;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}
#footermainPan {
    height: 103px;
   
    color: #2F5958;
    font: 13px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
 


    padding: 36px 0 0;
}
#footerPan {
    width: 778px;

}

    #footerPan ul {
        width: 608px;
        height: 20px;
        position: relative;
        margin: 0 auto;
    }

    #footerPan li {
          float:left;        
          list-style-type: none;
    }
 
 
    #footerPan ul li a {
        padding: 0 20px 0;
        color: #2F5958;
        text-decoration: none;
        font-size: 12px;
    }
    #center {
	background: #cbcbcb;

opacity: 0.9;
-moz-border-radius: 0px 10px 10px 0px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-top-right-radius: 10px;
border-radius: 0px 10px 10px 0px;
border: 1px solid #eee;
-moz-box-shadow: 0px 0px 2px #444;
-webkit-box-shadow: 0px 0px 2px #444;
box-shadow: 0px 0px 2px #444;
	
   }
#main_menu {
min-width: 100%;
float: left;
position: fixed;
left: 0px;
top: 30px;
padding-right: 10px;
background: #454545;
background: -moz-linear-gradient(top, #454545, #737373);
background: -webkit-gradient(linear, center top, center bottom from(#454545,), to(#737373));
opacity: 0.9;
-moz-border-radius: 0px 10px 10px 0px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-top-right-radius: 10px;
border-radius: 0px 10px 10px 0px;
border: 1px solid #eee;
-moz-box-shadow: 0px 0px 2px #444;
-webkit-box-shadow: 0px 0px 2px #444;
box-shadow: 0px 0px 2px #444;
}
  
  
#navigation {

list-style: none;
margin: 0;
padding: 0;
float: left;
margin-left: 1px;
border-left: 1px solid #333;

}
#navigation li {

float: left;
}
#login {

float: right;
}



#navigation li a {

float: left;
padding: 20px 0px;
width: 100px;
text-decoration: none;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
border-right: 1px solid #333;
border-left: 1px solid #888;
text-align: center;
color: #dede5d;
text-shadow: 3px 1px 3px #111;
}

#navigation li a:hover{

background: #555;
background: -moz-linear-gradient(top, #555, #333 50%, #222 95%, #454545);
background: -webkit-gradient(linear, center top, center bottom from(#333,), to(#454545));
color: #ededed;
text-shadow: -3px -1px 3px #555;
}

#searchbar {
float: left;
padding: 15px 10px;
padding-left: 250px;
border-left: 1px solid #888;
}

#searchform { 

float: left;

}

 

#searchform input {
float: left;
}


#searchform input[type='text'] {

height: 24px;
width: 200px;
border: 1px solid #fff;
border-right: none;
background-color: #ccc;
padding-left: 5px;
font-family: Verdana, Helvetica, sans-serif;
font-size: 18px;
color: #999;
-moz-border-radius: 5px 0px 0px 5px;
-webkit-border-radius: 5px 0px 0px 5px;
border-radius: 5px 0px 0px 5px;
-moz-box-shadow: inset 0px 0px 1px #444;
-webkit-box-shadow: inset 0px 0px 1px #444;
box-shadow: inset 0px 0px 1px #444;

}

 
#searchform input[type='submit'] {
border: 1px solid #fff;
border-left: none;
height: 28px;
width: 28px;
background: #999 url(search.png) no-repeat center center;
-moz-border-radius: 0px 5px 5px 0px;
-webkit-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
}

