@{
    ViewBag.Title = "Log In";
}
<div class="main">
    <div id="center">
        <div class="Log In" text-align: center align="center">
            <h3>Log In</h3>
            <form align="center" style="padding-left:300px" >
                <div  align="center">
                    <label for="e-mail">Name</label>
                    <input type="text" id="name" spellcheck="false" />
                </div>
                <div align="center">
                    <label for="Password">Email</label>
                    <input type="text" id="email" spellcheck="false" />
                </div>
            </form>
            <div  align="center" class="social-buttons facebook">
                <a href="#">
                    <span>Facebook</span>
                </a>
            </div>
            <div  align="center" class="social-buttons twitter">
                <a href="#">
                    <span>Twitter</span>
                </a>
            </div>
        </div>
    </div>
</div>


